{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block start_head %}
    {% endblock start_head %}
    <title>{{ title }}</title>
    <link href="{% static 'lesgrandsvoisins/fonts/grotesk/font.css' %}"
          rel="stylesheet" />
    <link href="{% static 'lesgrandsvoisins/fonts/fira-mono/font.css' %}"
          rel="stylesheet" />
    <link href="{% static 'lesgrandsvoisins/fonts/fira-sans/font.css' %}"
          rel="stylesheet" />
    {% comment %}
        <link href="{% static 'lesgrandsvoisins/fonts/fengardo/font.css' %}" rel="stylesheet" />
        <link href="{% static 'lesgrandsvoisins/fonts/golos-text/font.css' %}" rel="stylesheet" />
        <link href="{% static 'lesgrandsvoisins/fonts/golos-ui/font.css' %}" rel="stylesheet" />
        <link href="{% static 'lesgrandsvoisins/fonts/literata/font.css' %}" rel="stylesheet" />
        <link href="{% static 'lesgrandsvoisins/fonts/pt-mono/font.css' %}" rel="stylesheet" />
    {% endcomment %}
    <link href="{% static 'lesgrandsvoisins/css/tailwind.css' %}"
          rel="stylesheet" />
    <link href="{% static 'lesgrandsvoisins/css/lesgrandsvoisins.css' %}"
          rel="stylesheet" />
          <script>
            if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
              localStorage.theme = "dark";
            } else {
              localStorage.theme = "light";
            }
            document.documentElement.setAttribute('data-theme', localStorage.theme);
            function toggleLightDark() {
              if (localStorage.theme != "dark") {
                localStorage.theme = "dark";
              } else {
                localStorage.theme = "light";
              }
              document.documentElement.setAttribute('data-theme', localStorage.theme);
            }
          </script>
    {% block end_head %}
    {% endblock end_head %}
  </head>
  <body class="bg-gray-50 text-gray-800 dark:text-gray-50 dark:bg-gray-800 m-8">
    {% block start_body %}
    {% endblock start_body %}
    <nav class="flex gap-2 w-full justify-center">
      <a href="/">Home</a>
      {% comment %}
      <button
    type="button"
    data-theme-toggle
    aria-label="Change to light theme"
  >Change to light theme (or icon here)</button>
  {% endcomment %}
      <a href="#" onClick="javascript:toggleLightDark();"><span class="iconify" data-icon="mdi-theme-light-dark"></span></a>
      
      {% if 'username' in request.session %}
        <a href="{% url 'lesgrandsvoisins_dashboard' %}">{{ request.session.username }}</a>
        <a href="{% url 'ldap_logout' %}">Déconnexion</a>
      {% else %}
        {% comment %} <a href="{% url 'ldap_login' %}">Connexion</a> {% endcomment %}
         <div>Connexion (à venir)</div>
        <a href="{% url 'keycloak_register' %}">S'enregistrer</a>
      {% endif %}
      </nav>
      <hr />
      {% block content %}
      {% endblock content %}
      <hr />
      <footer class="md:flex">
        {% block footer %}
        <div class="w-1/1 md:w-1/2">
          <h2>Les Grands Voisins</h2>
          <p>
            Site de communs communautaires: <a href="https://www.lesgrandsvoisins.com">lesgrandsvoisins.com</a>
          </p>
        </div>
        <div class="w-1/1 md:w-1/2">
          <h3>Rubriques des Grands Voisins</h3>
          <div class="flex gap-3 flex-wrap items-center">
            <div>
              <a href="https://www.lesgrandsvoisins.com/fr/annuaire/">Annuaire</a>
            </div>
            <div>
              <a href="https://www.lesgrandsvoisins.com/fr/agenda/">Agenda</a>
            </div>
            <div>
              <a href="https://blog.lesgrandsvoisins.com">Actualit&eacute;s</a>
            </div>
            <div>
              <a href="https://www.lesgrandsvoisins.com/fr/association/">Association</a>
            </div>
            <div>
              <a href="https://www.lesgv.com/fr/">Apps</a>
            </div>
          </div>
          {% endblock footer %}
        </div>
      </footer>
      <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
      {% block end_body %}
      {% endblock end_body %}
    </body>
  </html>
