aiosasl
dj-database-url 
django
django-allauth
django-debug-toolbar
django-libsass
django-meta
django-taggit
dotenv
gunicorn
jwt
libsass
pillow
pip
pq
psycopg2-binary
pylibjpeg-libjpeg
pypdf2
pyscss
python-dotenv
python-keycloak
# python-ldap
wagtail
wagtail-modeladmin