@import "tailwindcss";

@layer base {
    body {
        @apply m-8;
        background: #f7f7f7;
        font-family: 'fira-sans';
    }

    label {
        @apply mt-2;
        display: block;
    }

    input {
        border: 1px solid black;
        @apply px-2;
    }

    button {
        border: 1px solid black;
        text-align: center;
        @apply p-2;
        @apply m-2;
    }

    form {
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7,
    h8,
    h9 {
        font-family: 'grotesk';
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}

@layer utilities {}