    .menu-bar(data-type-role='flex-row')
      .menu-item(data-type-role='flex-column')
        a(href='https://www.lesgrandsvoisins.com/fr/annuaire/') Annuaire
      .menu-item(data-type-role='flex-column')
        a(href='https://www.lesgrandsvoisins.com/fr/agenda/') Agenda
      .menu-item(data-type-role='flex-column')
        a(href='https://blog.lesgrandsvoisins.com') Actualit&eacute;s
      .menu-item(data-type-role='flex-column')
        a(href='https://www.lesgrandsvoisins.com/fr/association/') Association
      .menu-item(data-type-role='flex-column')
        a(href='https://www.lesgv.com/fr/') Apps